
    <div class="head">
      <div class="headerobjectswrapper">
        <header>All About The Tribe</header>
      </div>

      <div class="subhead">Who are we and what do we do?</div>

      <div class="container my-5">
        <div class="row">
          <img class="banner" src="https://i.pinimg.com/originals/49/66/08/496608bfeedd20ca4f6388d721cc8392.gif" width="500" height="800" 
           />
           
          <div class="p-5 mt-4">
            <h1 class="display-4"> A Community of Bookworms
            </h1>
            <p class="lead"> Created by an avid bookworm and reader who wanted a fun and creative place to connect with other bookworms, which are known as tribe members.</p>
            <a th:href="@{/tribe}" class="btn btn-outline-dark"> Find a Tribe Member </a>
          </div>
        </div>
      </div>
<!-- Reading Habits Section -->
      <div class="container my-5">
        <div class="row">
          <div class="col-lg-6">
            <img class=" w-100 shadow" src="https://media.giphy.com/media/8m57WEg0TbVggnqv8Y/giphy.gif"
              style="width: 400px; height:400px" />
          </div>

          <div class="col-lg-6">
            <div class="p-5 mt-4">
              <h1 class="display-4"> Track Reading Habits 
              </h1>
              <p class="lead"> Unsure of how many books you've been reading for the month or year? Keep track of what you've read or are reading with our easy to use tracker! </p>
              <a th:href="@{/goals}" class="btn btn-outline-dark"> Track Your Goals </a>
            </div>
          </div>
        </div>
      </div>

<!-- Inspire  Section -->
      <div class="container my-5">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="display-4"> Be Inspired </h1>
            <p class="lead"> Be inspired by a random quote of the day and a poem written by famous authors and poets all over the world throughout history. </p>
            <a th:href="@{/inspire}" class="btn btn-outline-dark"> Get Inspiration </a>
          </div>

          <div class="col-lg-6">
            <div class="p-5 mt-4">
              <img class=" w-100 shadow" src="https://media.giphy.com/media/jtWmzGO3ID6dtjeMQZ/giphy.gif"
              style="width: 400px; height:400px" />
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- Google Map  Section -->


<app-google-map></app-google-map>