<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section *ngFor="let q of quote">
      <div class="text-4xl text-primary font-bold mb-3">{{q.content}}</div>
      <p class="mt-0 mb-4 text-700 line-height-3">- {{q.author}}</p>

      <button (click)="generateQuote()" pButton pRipple label="Generate Another Poem" type="button" class="mr-3 p-button-raised"></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src={{imageUrl}} height="500px" width="500px"
      alt="Image" class="md:ml-auto block md:h-medium" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>