<div class="px-5 min-h-screen flex justify-content-center align-items-center register">
    <div class="border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1 opacity-90">
        <div class="text-center mb-5">
            <img src="https://github.com/chrysaliswoon/VTTP-Capstone-Project/blob/master/client/src/assets/logo.png?raw=true" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">{{title}}</div>
            <span class="text-600 font-medium line-height-3">Already have an account?</span>
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" [routerLink]="['/login']">Login to the
                Tribe</a>
        </div>

        <div *ngIf="registerOptions">
            <div class="flex flex-column">
                <!-- <button pButton pRipple type="button" icon="pi pi-google" label="Continue with Google"
                    class="p-button-raised p-button-text w-full mb-4" [routerLink]="['/']"></button> -->
                <button pButton pRipple type="button" icon="pi pi-envelope" label="Continue with Email"
                    class="p-button-raised p-button-text w-full mb-4" (click)="registerByEmail()"></button>

                <div class="mb-4 flex flex-wrap">
                    <p>Join our tribe! Your fellow tribe members are waiting to connect with you!</p>
                </div>
            </div>
        </div>
        <div *ngIf="email">
            <app-register-email></app-register-email>
        </div>
    </div>
</div>