<div>

<div class="grid flex flex-column md:flex-row gap-3">
  <form >
    <div class="p-inputgroup">
          <button (click)="searchBooks()" type="button" pButton label="Search"></button>
          <input type="text" id="bookName" name="bookName" pInputText placeholder="Keyword" [(ngModel)]="bookName"/>
    </div>
      </form>
  </div>
<section style="padding: 100px;">
    <div class="container">
      <div class="main">
        <ul id="bk-list" class="bk-list clearfix">
          <li *ngFor="let b of books; let i = index">
            <div class="bk-book book-1 bk-bookdefault" *ngFor="let author of b.authors">
              <div class="bk-front">
                <div class="bk-cover-back"></div>
                <div class="bk-cover">
                    <h2 *ngFor="let categories of b.categories">
                      <span>{{author['string']}}</span>
                      <span>{{b.title}}</span>
                    </h2>
                  </div>
                </div>
                <div class="bk-right"></div>
                <div class="bk-left">
                  <h2>
                    <span>{{author['string']}}</span>
                    <span>{{b.title}}</span>
                  </h2>
              </div>
              <div class="bk-top"></div>
              <div class="bk-bottom"></div>
            </div>
            <div class="bk-info" >
              <form>
                <input type="hidden" name="favourite" data-th-value="${r.id}">
                <button pButton pRipple type="button" icon="pi pi-bookmark" label="Favourite" class="p-button-raised" (click)="addBook(b.id, b.title, b.imgUrl)" ></button>
                <button pButton pRipple type="button" icon="pi pi-search" label="View Inside" class="p-button-raised"></button>
              </form>

            </div>
          </li>
          <li>
          </li>
          <li>
          </li>
        </ul>
      </div>
    </div>
  </section>