<!-- <section *ngFor="let p of poem">
  <div class="letter poemHeader">
    <h3>{{p.title}}</h3>
    <h6> - <span>{{p.author}}</span></h6>

    <br>

    <p *ngFor="let c of p.poemContent">
      <span>{{c}}</span>
    </p>

  </div>
</section> -->



<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<div class="poemContainer">

  <div id="flex-container">
    <div style="align-self: flex-start">
      <div class="poem" *ngFor="let p of poem">
        
        <h1>{{p.title}}</h1>
        <h2>by {{p.author}}</h2>
        
        <p *ngFor="let c of p.poemContent">
          {{c}}
        </p>
        
      </div>
    </div>
</div>