<div class="px-5 min-h-screen flex justify-content-center align-items-center success">
    <div class="z-1 text-center">
        <div class="text-900 font-bold text-8xl mb-4">Thank you for your donation!</div>
        <p class="line-height-3 mt-0 mb-5 text-700 text-xl font-medium">With your support, the tribe will grow into a
            better place for all members</p>
        <p-button [routerLink]="['/dashboard']" styleClass="p-button-warning font-medium p-button-raised">Go to
            Dashboard</p-button>
    </div>
</div>