<div class="layout-sidebar" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <a [routerLink]="['/dashboard']" class="app-logo">
        <img src="../../assets/logo.png" style="height: 100px; width: 100px;">


        <button class="layout-sidebar-anchor p-link" type="button" (click)="anchor()"></button>

    </a>

    <div class="layout-menu-container">
        <app-menu></app-menu>
    </div>
    <iframe style="border-radius:12px"
        src="https://open.spotify.com/embed/track/1h9UBD2lkvmRGW5ycEz9M7?utm_source=generator" width="100%" height="160"
        frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
</div>