<div class="flex align-items-center justify-content-between relative lg:static py-6 px-4 mx-0 md:px-7 lg:px-8 lg:py-6 lg:mx-8">
    <a class="cursor-pointer" (click)="router.navigate(['/'])">
        <div class="logo">
            <div>
                <a class="cursor-pointer" href="/">
                    <img src="../../assets/logo.png" style="height: 100px; width: 100px;">
                </a>
            </div>
        </div>
    </a>
    <a pRipple class="cursor-pointer block md:hidden text-700 text-primary" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" >
        <i class="pi pi-bars text-4xl"></i>
    </a>

<div class="align-items-center flex-grow-1 hidden md:flex absolute md:static w-full md:px-0 z-3 shadow-2 md:shadow-none fadein" style="top:80px; right: 0%;">
    <ul class="list-none p-3 md:p-0 m-0 ml-auto flex md:align-items-center select-none flex-column md:flex-row cursor-pointer surface-card md:surface-ground">
        <li>
            <a (click)="router.navigate(['/'])" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/about'])" pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                <span>About</span>
            </a>
        </li>
        <li>
            <button (click)="router.navigate(['/login'])" pButton pRipple type="button" label="Login" class="m-0 mt-3 md:mt-0 md:ml-5"></button>
        </li>
    </ul>
</div>