<div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 z-2">

    <div id="home" class="grid grid-nogutter justify-content-between align-items-center mb-6 py-6 md:mb-8 md:py-8">

        <div
            class="col-12 md:col-4 flex flex-column gap-4 flex-order-1 md:flex-order-0 align-items-center md:align-items-start text-center md:text-left">
            <span class="block text-900 font-bold text-4xl">Modern, stylish and clean</span>
            <span class="block text-700 text-lg">The ultimate collection of design-agnostic, flexible and accessible UI
                Components.</span>
            <ul class="flex flex-wrap gap-5 list-none p-0">
                <li class="flex align-items-center">
                    <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                    <span class="text-900 font-semibold">Javascript</span>
                </li>
                <li class="flex align-items-center">
                    <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                    <span class="text-900 font-semibold">TypeScript</span>
                </li>
                <li class="flex align-items-center">
                    <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                    <span class="text-900 font-semibold">Angular</span>
                </li>
            </ul>
            <button pButton pRipple type="button" label="Live Preview" icon="pi pi-arrow-right" iconPos="right"
                class="w-12rem p-button-outlined"></button>
        </div>
    </div>
</div>