<div class="surface-section px-4 py-8 md:px-6 lg:px-8 mt-6 border-1 surface-border border-round">
    <div class="text-900 font-medium text-4xl mb-4 text-center pb-8">{{firstName | titlecase}}'s Bookshelf</div>
    <div class="grid -mt-3 -ml-3 -mr-3" >
        <div class="col-12 md:col-6 lg:col-4"*ngFor="let book of shelf">
            <div class="p-2" >
                <div class="shadow-2 p-4 surface-card border-round" >
                    <div class="relative mb-3" >
                        <span class="surface-card text-900 shadow-2 px-3 py-2 absolute"
                            style="border-radius: 1.5rem; left: 1rem; top: 1rem">{{book.categories}}</span>
                        <img src={{book.imageUrl}} class="w-full" />
                    </div>
                    <div class="flex justify-content-between align-items-center mb-3">
                        <span class="text-900 font-medium text-xl">{{book.title}}</span>
                        <span>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <span class="font-medium">5.0</span>
                        </span>
                    </div>
                    <p class="mt-0 mb-3 text-700 line-height-3" >
                        {{book.authors}}
                    </p>
                    <div class="flex flex-wrap gap-2" >
                        <p-button (click)="showDialog(book.bookId, book.title)" label="Review" icon="pi pi-pencil"></p-button>
                        <p-dialog header="Write a Review" [(visible)]="visible" [style]="{width: '50vw'}">
                            <form [formGroup]="form" >
                                <div class="card p-fluid">
                                    <h3>{{bookTitle}}</h3>
                                    <div class="field">
                                        <label for="float-input">Book Review</label>
                                        <textarea id="float-input" rows="5" cols="30" pInputTextarea formControlName="comments"></textarea>
                                    </div>
                                    <h6>Submitted by: {{firstName | titlecase}}</h6>
                                    <p-button label="Submit" [disabled]="form.invalid" (click)="submitReview()"></p-button>
                                </div>
                            </form>
                        </p-dialog> 
                        <!-- <p-button label="Submit" (click)="submitReview(book.bookId)"></p-button> -->
                        <button pButton pRipple label="Remove" icon="pi pi-times" class="p-button-danger"
                            (click)="deleteBook(book.bookId)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>